body{
    background-color: #414141;
    color: aliceblue;
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    border: 2px solid aliceblue;
}

#getData{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    margin: 5px;
}